/*
colors:
#E3E3E3 - grayish body background
#6DD8FF - light blue, leftbar, etc




*/
body {
	font-size:12px;
	background-color:#E3E3E3;
}
li {

}
ul {
	list-style:none inside none;
	padding:0px;
	margin:0px;
}
tr {
	border:none;
}
td {
	border:none;
}
a {
	border:none;
	outline:none;
}
img {
	border:none;
}

#spinner {
	position:fixed;
	left:50%;
	top:50%;
	width:150px;
	height: 50px;
	margin-left:-75px;
	margin-top:-25px;
	background: url('/site_media/images/spinner.gif') center no-repeat #BFBFBF;
	border: solid 1px black;
/* 	border-top: none; */
}
#leftbar {
	position:absolute;
	left:0.8em;
	width:15em; /* tied to margin-left of #contentpane */
	padding: 3px;
	margin:0px;
/* 	background:#6DD8FF; */
	border:solid blue 1px;
	overflow:hidden;
}
#leftbartools {
	border:solid 3px black;
}
#contentpane {
	margin-left:17em; /* needs to match width of folderlist + some */
	border: solid 1px black;
}
#msglist {
	margin-left:17em;
}
.even {
	background:#4A9EFF;
}
.odd {
	background:#6DD8FF;
}
.tablehover {
	background-color:#3060FF;
	color: white;
	cursor:pointer;
}
.message {
/* 	margin:.5em; */
}
#leftside {
	float:left;
	background-color:red;
}
#rightside {
	float:right;
	background-color:red;
}
.clear {
	clear:both;
}
.mailheader {
	padding:3px;
	background-color: #6DD8FF;
	border-width: 1px 0px;
	border-color: black;
	border-style:solid;
}
.mailbody {
	padding:3px;
	background-color: #D2D2D2;
}
.subject {
	font-size:125%;
}
.msglist-subject {
	font-size:1em;
}
.msglist-from {
	font-size:1em;
}
.msglist-date {
	font-size:.9em;
}
.msglist-size {
	font-size: .8em;
}
.msgtoolbar {
	background:#D2D2D2
}
.hidden {
	display:none;
}
.tblOneBrdrFvPd table, table.tblOneBrdrFvPd {
	border: solid 1px black;
}
.tblOneBrdrFvPd td {
	border: solid 1px black;
	padding: 5px;
}
/* FIXME lookup how to do these table less forms right */
.floatForm label {
/* 	float:left; */
/* 	clear:right; */
}
.floatForm input {
/* 	text-align:right; */
}

/* These are the panel body contents for all the little panel's we open */
#viewmsgdiv, #newmsgdiv, #newserver {
	height:534px;
	overflow:auto;
}
.unread-msg {
	font-weight:bold;
}
