tr.msgunseen{font-weight:bold;}
form.msgnav{padding:6px 0px;}
.ui-treeview ul{padding-left:15px;margin:0px}
.ui-datatable {font-size:60%;}
.ui-datatable td{padding-right:6px;}
.msgnav .ui-widget{font-size:.8em;}