/*
colors:
#E3E3E3 - grayish body background
#6DD8FF - light blue, leftbar, etc




*/
body {
	font-size:12px;
	background-color:#E3E3E3;
}
ul {
	list-style:none inside none;
	padding:0px;
	margin:0px;
}
tr, td, img {border:none;}
a, a:visited, a:active {
	border:none;
	outline:none;
}
form fieldset {clear:both;}
form label {
	float:left;
	width:120px;
}
form input {width:180px;}
br {clear:left;}
#spinner {
	position:fixed;
	left:50%;
	top:50%;
	width:150px;
	height: 50px;
	margin-left:-75px;
	margin-top:-25px;
	background: url('/site_media/images/spinner.gif') center no-repeat #BFBFBF;
	border: solid 1px black;
/* 	border-top: none; */
}
#leftbar {
	position:absolute;
/*	left:0.8em; */
	width:12em; /* tied to margin-left of #contentpane */
	padding: 3px;
	margin:0px;
/* 	background:#6DD8FF; */
/*	border:solid blue 1px; */
	overflow:hidden;
}
/*#leftbartools {
	border:solid 3px black;
}*/
#contentpane {
	margin-left:13.5em; /* needs to match width of folderlist + some */
/*	border: solid 1px black; */
}
.even {
	background:white;
}
.odd {
	background:#EDF5FF;
}
.tablehover {
	background-color:#3060FF;
	color: white;
	cursor:pointer;
}
.clear {
	clear:both;
}
.mailheader {
	padding:3px;
	background-color: #6DD8FF;
	border-width: 1px 0px;
	border-color: black;
	border-style:solid;
}
.mailbody {
	padding:3px;
	background-color: #D2D2D2;
/*	height: 80%;
	overflow:scroll; */
}
.subject {					font-size:125%;}
.msglist-subject {	font-size:1em;}
.msglist-from {			font-size:1em;}
.msglist-date {			font-size:.9em;}
.msglist-size {			font-size:.8em;}
.msgtoolbar {				padding: 2px;			background:#D2D2D2}
.hidden {						display:none;}
.tblOneBrdrFvPd table, table.tblOneBrdrFvPd {border: solid 1px black;}
.tblOneBrdrFvPd td{	border: solid 1px black;padding: 5px;}
.unread-msg {				font-weight:bold;}
.msghover {					cursor:pointer; }
.msgunseen {				font-weight: bold; }
.msgimport {				background: yellow; }

/* These are the panel body contents for all the little panel's we open */
#viewmsgdiv, #newmsgdiv, #newserver {
	height:534px;
	overflow:auto;
}
#msglist table {
	width: 100%;
	border: solid 1px #ababab;
}
#msglist table th {
	background: silver;
}
#msglist form input {
	width: auto;
}
#msglist td {
	font-size: 90%;
}
#msglist td.subject {
	font-size:100%;
}
#foldertree a, #foldertree a:visited, #foldertree a:active {
	color: blue;
	outline: none;
	text-decoration: none;
	font-size: 90%;
}
#foldertree li {
	padding:1px;
/* 	border-bottom: 1px solid silver; */
}
