        #yuiEditor_wrapper {
            width: 525px;
            border: 1px solid #ccc;
            padding: 2px;
            margin: 2px;
        }
        #yuiEditor_toolbar {
            border: 1px solid #000;
            background-color: #ccc;
            margin-bottom: 2px;
        }
        #yuiEditor {
            width: 523px;
        }
        .yui_buttonlist {
            margin: 2px;
            padding: 2px 15px 2px 2px;
            height: 16px;
            width: 141px;
            display: block;
            float: left;
            border: 1px solid #000;
            background-color: #fff;
            background-image: url(graphics/downarrow.gif);
            background-position: center right;
            background-repeat: no-repeat;
            font-size: 10px;
            text-align: left;
            cursor: hand;
            cursor: pointer;
            position: relative;
        }
        #fontsize_select {
            width: 45px;
        }
        #fontsize_select ul {
            width: 45px;
        }
        .yui_buttonlist ul {
            z-index: 9999;
            position: absolute;
            top: 20px;
            left: -1px;
            border: 1px solid #000;
            background-color: #fff;
            width: 141px;
            padding: 0;
            margin: 0;
            list-style-type: none;
        }
        .yui_buttonlist li {
            padding: 2px;
        }
        .yui_buttonlist ul li a {
            text-decoration: none;
            display: block;
            border: 1px solid #fff;
            padding: 2px;
        }
        .yui_buttonlist ul li a:hover {
            border: 1px solid #7777B5;
        }
        .yui_button {
            margin: 2px;
            padding: 0;
            height: 20px;
            width: 20px;
            display: block;
            float: left;
            background-repeat: no-repeat;
            border: 1px solid #ccc;
        }
        .yui_button_sel {
            margin: 2px;
            padding: 0;
            height: 20px;
            width: 20px;
            display: block;
            float: left;
            background-repeat: no-repeat;
            border-top: 1px solid #b3b3b3;
            border-left: 1px solid #b3b3b3;
            border-right: 1px solid #fff;
            border-bottom: 1px solid #fff;
        }
        .yui_button_disable {
            margin: 2px;
            padding: 0;
            height: 20px;
            width: 20px;
            display: block;
            float: left;
            background-repeat: no-repeat;
            opacity: .5;
            border: 1px solid #ccc;
        }
        .yui_button:hover {
            /*border: 1px solid #000;*/
            border-top: 1px solid #fff;
            border-left: 1px solid #fff;
            border-right: 1px solid #b3b3b3;
            border-bottom: 1px solid #b3b3b3;
        }
        .yui_spacer {
            height: 20px;
            width: 5px;
            display: block;
            background-repeat: no-repeat;
            background-image: url(graphics/separator.gif);
            background-position: 4px 2px;
            float: left;
        }
        .toolbar_drop {
            z-index: 9999;
            position: absolute;
            top: 18px;
            border: 1px solid #000;
            background-color: #ccc;
            width: 161px;
            padding: 0;
            margin: 0;
        }
        .toolbar_drop li {
            height: 9px;
            width: 9px;
            display: block;
            float: left;
            margin: 1px;
            padding: 0;
            border: 1px solid #ccc;
        }
        #menu_smiley li {
            height: 20px;
            width: 20px;
            display: block;
            float: left;
            margin: 1px;
            padding: 0;
            border: 1px solid #ccc;   
        }
        #menu_smiley img { border: 0; }
        #toolbar_new { background-image: url(graphics/new.gif); }
        #toolbar_bold { background-image: url(graphics/bold.gif); }
        #toolbar_italic { background-image: url(graphics/italic.gif); }
        #toolbar_underline { background-image: url(graphics/underline.gif); }
        #toolbar_anchor { background-image: url(graphics/anchor.gif); }
        #toolbar_strikethrough { background-image: url(graphics/strikethrough.gif); }
        #toolbar_unlink { background-image: url(graphics/unlink.gif); }
        #toolbar_justifyleft { background-image: url(graphics/justifyleft.gif); }
        #toolbar_justifyright { background-image: url(graphics/justifyright.gif); }
        #toolbar_justifycenter { background-image: url(graphics/justifycenter.gif); }
        #toolbar_ol { background-image: url(graphics/ol.gif); }
        #toolbar_ul { background-image: url(graphics/ul.gif); }
        #toolbar_smiley { background-image: url(graphics/smiley.gif); position: relative; }
        #toolbar_forecolor { background-image: url(graphics/forecolor.gif); position: relative; }
        #toolbar_backcolor { background-image: url(graphics/backcolor.gif); position: relative; }
        #toolbar_outdent { background-image: url(graphics/outdent.gif); }
        #toolbar_indent { background-image: url(graphics/indent.gif); }
        #debug {
            position: fixed;
            top: 0;
            right: 0;
            height: 450px;
            width: 250px;
            border: 1px solid red;
            overflow: auto;
            text-align: left;
            font-size: x-small;
        }
        form, p {
            margin: 3em;
        }
