{% extends "base.html" %}

{% block extra_cssstyle %}
{% endblock %}

{% block extra_javascript %}
<script type="text/javascript">

YAHOO.namespace('dw.config');
YAHOO.dw.config.defaultEditor = '{{ defaultEditor }}';

</script>
{% endblock %}

{% block title %}Email{% endblock %}
{% block content %}


<div id="spinner"></div>


<div id="page">

<div id="leftbar">
	<div id="leftbar_toolbar">
		<a href="#"><img src="/site_media/images/mail-get.png" alt="Check For New Mail" title="Check For New Mail" /></a>
		<a href="#" id="newmaillink"><img src="/site_media/images/mail-new.png" alt="New Mail" title="Compose New Mail" /></a>
<!-- FIXME don't use the admin site's logout -->
		<a href="/admin/logout/"><img src="/site_media/images/system-log-out.png" alt="Logout" title="Logout" /></a>
        <a href="#" id="prefslink"><img src="/site_media/images/configure.png" alt="Prefs" title="Preferences" /></a>
<!--		<a href="#" onclick="showSpinner(); return false;">Show</a>
		<a href="#" onclick="hideSpinner(); return false;">Hide</a>-->
	</div>
    <div id="folderlist">
		<div id="foldertree"></div>
    </div>
    <div id="leftbar_bottom_info">
        <p>imap times:</p>
        <p>{{ con_time }}</p>
        <p>{{ log_time }}</p>
        <p>{{ list_time }}</p>
    </div>
</div>

<noscript><h1>This site requires javascript to be enabled</h1></noscript>

<div id="dt-pag-nav">
	<span id="prevLink">&lt;</span>
	Showing items
	<span id="startIndex">1</span> - <span id="endIndex">20</span>
	<span id="ofTotal"></span>
	<span id="nextLink">></span>
</div>
<div id="msglist"></div> {# This is separate from the contentpane so we don't have to refresh it every time #}

<div id="contentpane">
    {#{% include "mail/msglist.html" %}#}
</div>


<div id="test"></div>


</div><!-- end page -->

<script type="text/javascript">
YAHOO.util.Event.addListener(window, 'load', YAHOO.dw.msglist.init, {server:0, folder:'INBOX'});
YAHOO.util.Event.addListener(window, 'load', YAHOO.dw.showServers);
YAHOO.util.Event.addListener(window, 'load', YAHOO.dw.showFolders);
</script>

{% endblock %}
