<div class="msglist">
    <table id="msglisttbl">
        <tr class="odd">
            <th>Subject</th><th>From</th><th>Date</th><th>Size</th>
        </tr>
    {% for m in msglist %}
        <!-- {{ m }} -->
        <tr class="messagelisttr {% cycle even,odd %}">
            <td class="msglist-subject" 
				onmouseover="$D.addClass(this, 'tablehover');" 
				onmouseout="$D.removeClass(this, 'tablehover')"
            	onclick="YAHOO.dw.load('contentpane', 'viewmsg/{{ folder }}/{{ m.4 }}/'); return false;">{{ m.0 }}</td>
			<td class="msglist-from"><a href="newmail/to/{{ m.1 }}/" onclick="YAHOO.dw.load('contentpane', this.href); return false;">{{ m.2 }}</a></td>
			<td class="msglist-date">{{ m.3 }}</td><!-- TODO prettify the date -->
			<td class="msglist-size">{{ m.5 }}</td>
        </tr>
    {% endfor %}
    </table>
</div>
