<div class="msgtoolbar">
	<a href="#"><img src="/site_media/images/go-up.png" alt="Up To Parent Folder" title="Up To Parent Folder" /></a>
	<a href="#"><img src="/site_media/images/mail-reply-sender.png" alt="Reply To Sender" title="Reply To Sender" /></a>
	<a href="#"><img src="/site_media/images/mail-reply-all.png" alt="Reply To All" title="Reply To All" /></a>
	<a href="#"><img src="/site_media/images/mail-replylist.png" alt="Reply To List" title="Reply To List" /></a>
	<a href="#"><img src="/site_media/images/mail-forward.png" alt="Forward" title="Forward" /></a>
	<a href="#"><img src="/site_media/images/mail-delete.png" alt="Delete" title="Delete" /></a>
</div>
<div class="message" id="message">
	<div class="mailheader">
		<div class="subject">Subject: {{ mailmsg.subject }}</div>
		<div>From: {{ mailmsg.from }}</div>
		<div>Date: {{ mailmsg.date }}</div>
	</div>

	<div class="mailbody">
{{ body|urlizetrunc:"50"|linebreaksbr }}
	</div>

</div>

